<div class="team-select-page-container">
  <div class="content-container">
    <p class="welcome-heading">
      {{ "Willkommen beim Projekt " + selectedProject?.name }}
    </p>
    <p class="big-info">Wähle als nächstes dein Team aus:</p>
    <p class="small-info">
      ist dein Team noch nicht dabei, frage einfach um Hilfe :)
    </p>
    <table>
      <th>
        @for (team of teams; track team.teamId) {
        <tr class="team-table-row">
          <p class="team-name">
            {{ team.name }}
          </p>
          <button mat-fab (click)="teamButtonClicked(team)" >
            <mat-icon>double_arrow</mat-icon>
          </button>
        </tr>
        }
        <tr class="team-table-row last-row">
          <p class="no-selection-text">keine Auswahl</p>
          <button mat-fab (click)="rerouteToScoreBoardWithTeam(undefined)" class="no-team-button">
            <mat-icon class="no-team-arrow">double_arrow</mat-icon>
          </button>
        </tr>
      </th>
    </table>
  </div>
</div>
