.toolbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.toolbarItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}

.login-icon{
  position: absolute;
  margin-left: 95%;
}

.bitshift-image{
  height: 38px;
  border-radius: 5px;  
}

.bitshiftLogo {
  border-style: hidden solid hidden solid;
  border-color: rgb(132, 83, 127);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
.bitshiftLogo:hover {
  border-color: rgb(159, 215, 213);
  cursor: pointer;
}

.subItem {
  font-size: medium;
}

.team-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 130px;
  margin-left: auto;
  height: 20px;
  padding: 8px;
}

.team-name {
  font-size: medium;
  margin-left: 10px;
}
