<mat-toolbar class="toolbar">
  <div class="toolbarItems">
    <img src="bitshift.svg" alt="bitshift logo" class="bitshift-image" />
    <div
      class="bitshiftLogo"
      (click)="redirectLandingPage()"
      (keydown)="redirectLandingPage()"
    >
      {{ "Bitshift@School" }}
    </div>
    @if(selectedProject){
    <button mat-button class="subItem" (click)="redirectScoreboard()">
      Scoreboard
    </button>
    <button mat-button class="subItem" (click)="redirectChallenges()">
      Challenges
    </button>
    }
  </div>
  @if(selectedTeam){
  <div class="team-container">
    <mat-icon>group</mat-icon>
    <p class="team-name">{{ selectedTeam.name }}</p>
  </div>
  }
  <button mat-icon-button class="login-icon" (click)="loginClicked()">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
