<div class="landing-page-container">
  <div class="content-container">
    <p class="welcome-heading">{{ "Willkommen bei Bitshift@School!" }}</p>
    <p>Lege direkt los und wähle deine Schule aus:</p>
    <table>
      <th>
        @for (project of projects; track project.projectId) {
        <tr class="project-table-row">
          <p class="project-name">
            {{ project.name }}
          </p>
          <button mat-fab (click)="selectProject(project.projectId)">
            <mat-icon>double_arrow</mat-icon>
          </button>
        </tr>
        }
      </th>
    </table>
  </div>
</div>
