.challengeCardContainer{
    max-width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 25px;
    background-color: black;
    padding: 30px;
    border: solid;
    border-radius: 20px;
    border-color: rgb(35, 79, 90);
}
.challenge-header{
    width: 100%;
    background-color: rgb(31, 31, 31);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 30px;
}

.challengePageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}